.item {
  width: 200px;
}

.item img {
  width: 100%;
}

.item p {
  margin: 5px 0px;
  font-size: 12px;
}

.item-prices {
  display: flex;
  gap: 10px;
}

.item-new-price {
  font-size: 15px;
  color: rgb(8, 7, 7);
  font-weight: 500;
}

.item-old-price {
  font-size: 15px;
  color: rgb(71, 68, 68);
  font-weight: 500;
  text-decoration: line-through;
}
.item:hover {
  transform: scale(1.05);
  transition: 0.3s;
}